h2 {
    color: blue;
    background-color: bisque;
    text-align: left;
    border: 2px solid black;
    padding: 30px;
    margin: 15px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}